<table class="table">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Pour</th>
      <th>Pints in Keg</th>
      <th>Price</th>
      <th>ABV</th>
      <th>Edit</th>
      <th>Refill</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currentKeg of childKegList | lowInventory">
      <td>{{currentKeg.brand}}</td>
      <td>{{currentKeg.name}}</td>
      <td><button class="btn btn-secondary" (click)="pourButtonClicked(currentKeg)">Pour a Pint</button></td>
      <td>{{currentKeg.pintsRemaining}}</td>
      <td [class]="priceColor(currentKeg)">${{currentKeg.price}} per pint</td>
      <td [class]="alcoholContentColor(currentKeg)">{{currentKeg.alcoholContent}}% ABV</td>
      <td><button class="btn btn-secondary" (click)="editButtonClicked(currentKeg)">Edit</button></td>
      <td><button class="btn btn-secondary" (click)="refillButtonClicked(currentKeg)">Refill</button></td>
      <td><button class="btn btn-secondary" (click)="deleteButtonClicked(currentKeg)">Delete</button></td>
    </tr>
  </tbody>
</table>
