<div class="container">

<div class="jumbotron">
  <h1>Welcome to the {{ title }}!</h1>
</div>

<div class="container">
  <h3>Beers on Tap for {{month}}/{{day}}/{{year}}
  <button class="btn btn-secondary" (click)="showLowKegs()">View Low Inventory</button></h3>
  <app-keg-list [childKegList]="masterKegList" (clickSender)="editKeg($event)" (clickedDelete)="deleteKeg($event)" (clickedPour)="pourPint($event)" (clickedRefill)="refillKeg($event)"></app-keg-list>
</div>

<app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>

<app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEditing()"></app-edit-keg>

<div *ngIf="showingLowInventory">
  <div class="container">
    <h3>Low Kegs
    <button class="btn btn-secondary" (click)="hideLowKegs()">Hide</button></h3>
    <table class="table">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Name</th>
          <th>Pints in Keg</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currentKeg of lowKegs">
          <td>{{currentKeg.brand}}</td>
          <td>{{currentKeg.name}}</td>
          <td>{{currentKeg.pintsRemaining}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
